@model OPS_DAL.Entities.Usmt
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8">
    <title> Login</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/demo.min.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">


</head>

<body class="animated fadeInDown">

    <header id="header">

        <div id="logo-group">
            <span id="logo"> <img src="~/img/logo.png" alt="PK MES"> </span>
        </div>

        @*<span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a href="#" class="btn btn-danger">Create account</a> </span>*@

    </header>

    <div id="main" role="main">

        <!-- MAIN CONTENT -->
        <div id="content" class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="well no-padding">
                        <div id="login-form" class="smart-form client-form">
                            <header>
                                Sign In
                            </header>
                            <fieldset>
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-signin" }))
                                {
                                    @Html.AntiForgeryToken()

                                    if (@ViewBag.Message != null)
                                    {
                                        <div id="popupdiv" style="border: 1px solid red;color:red; display: none;">
                                            @ViewBag.Message
                                        </div>
                                    }

                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User name", onkeydown = " if (event.keyCode == 13){ LoadRoleList();}" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    <div style="height:5px;"></div>
                                    <select id="RoleID" name="RoleID" class="form-control">
                                        <option></option>
                                    </select>
                                    <div style="height:5px;"></div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                                        Sign in
                                    </button>
                                    @*<div style="padding-left:20px;">
                                            <section>
                                                <label class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                </label>
                                            </section>
                                        </div>*@
                                    <section>
                                        <label class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            <i></i>Stay signed in
                                        </label>
                                    </section>
                                }
                            </fieldset>
                            @*<fieldset>

                                    <section>
                                        <label class="label">Username</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input type="text">
                                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter username</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="label">User Role</label>
                                        <select id="RoleID" name="RoleID" class="form-control">
                                            <option></option>
                                        </select>
                                    </section>

                                    <section>
                                        <label class="label">Password</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            <input type="password" name="password">
                                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
                                        </label>
                                        <div class="note">
                                            <a href="#">Forgot password?</a>
                                        </div>
                                    </section>

                                    <section>
                                        <label class="checkbox">
                                            <input type="checkbox" name="remember" checked="">
                                            <i></i>Stay signed in
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Sign in
                                    </button>
                                </footer>*@
                        </div>

                    </div>

                    <h5 class="text-center"> - Or sign in using -</h5>

                    <ul class="list-inline text-center">
                        <li>
                            <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>

                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>

    </div>

    <!--SON ADD-->
    <script src="~/js/libs/jquery-3.2.1.min.js"></script>
    <script src="~/js/libs/jquery-ui.min.js"></script>

    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script src="~/js/plugin/pace/pace.min.js"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script> if (!window.jQuery) { document.write('<script src="~/js/libs/jquery-3.2.1.min.js"><\/script>');} </script>

        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script> if (!window.jQuery.ui) { document.write('<script src="~/js/libs/jquery-ui.min.js"><\/script>');} </script>*@

    <!-- IMPORTANT: APP CONFIG -->
    <script src="~/js/app.config.js"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="~/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
    <!-- BOOTSTRAP JS -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="~/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="~/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="~/js/app.min.js"></script>

    <script>
        //runAllForms();

        $(function () {
             var userid = $('#UserName').val();
            if (userid) {
                LoadRoleList();
            }
            $('#UserName').change(function () {
                LoadRoleList();
            });

            if ($('#popupdiv').html() != '') {
                $("#popupdiv").show();
            }
            if (!$.isEmptyObject(userid)) {
                var RoleID = "@Model.RoleID";
                var RememberMe = '@Model.RememberMe';
                if (!$.isEmptyObject(RoleID)) {
                    $("#RoleID").val(RoleID).change();
                }
                if (RememberMe === "True") {
                    $('#RememberMe').prop('checked', true);
                }
            }
             
        });

        function LoadRoleList() {
            var userid = $('#UserName').val();
            $.ajax({
                async: false,
                type: "POST",
                url: "/Account/GetListRole",
                data: JSON.stringify({ userID: userid}),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (data) {
                    var innerHtml = '';
                    data = JSON.parse(data);
                    if (typeof data !== 'undefined' && data.length > 0) {
                        $.each(data, function (index, c) {
                            innerHtml = innerHtml.concat('<option value="' + c.ROLEID + '">' + c.ROLEID + '-' + c.ROLEDESC + '</option>');
                        });
                    }

                    $('#RoleID').html(innerHtml);
                },
                error: function (xhr, status, error) {
                    alert("ERROR: /Account/GetListRole");
                }
            });
             
        }
    </script>

</body>
</html>