@model System.Data.DataTable
@{
    decimal RequestQty = 0;
    decimal Received = 0;
}

<style>
    div.blueTable {
        border: 1px solid #1C6EA4;
        background-color: #EEEEEE;
        width: 100%;
        /*text-align: center;*/
        border-collapse: collapse;
        color: white;
    }

    .divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
        border: 1px solid #AAAAAA;
        padding: 5px 2px;
    }

    .divTable.blueTable .divTableBody .divTableCell {
        font-size: 15px;
    }

    /*.divTable.blueTable .divTableRow:nth-child(even) {
        background: #D0E4F5;
    }*/

    .divTable.blueTable .StatusGreen {
        background: green;
    }

    .divTable.blueTable .StatusRed {
        background: red;
    }

    .divTable.blueTable .StatusYellow {
        background: orange;
    }

    .divTable.blueTable .SummaryFooter {
        font-weight: bold;
        font-size: 16px;
        color: black;
    }

    .divTable.blueTable .divTableHeading {
        background: #1C6EA4;
        background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        border-bottom: 2px solid #444444;
    }

        .divTable.blueTable .divTableHeading .divTableHead {
            font-size: 17px;
            font-weight: bold;
            color: #FFFFFF;
            border-left: 2px solid #D0E4F5;
        }

            .divTable.blueTable .divTableHeading .divTableHead:first-child {
                border-left: none;
            }

    .blueTable .tableFootStyle {
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        background: #D0E4F5;
        background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        border-top: 2px solid #444444;
    }

    .blueTable .tableFootStyle {
        font-size: 14px;
    }

        .blueTable .tableFootStyle .links {
            text-align: right;
        }

            .blueTable .tableFootStyle .links a {
                display: inline-block;
                background: #1C6EA4;
                color: #FFFFFF;
                padding: 2px 8px;
                border-radius: 5px;
            }

    .blueTable.outerTableFooter {
        border-top: none;
    }

        .blueTable.outerTableFooter .tableFootStyle {
            padding: 3px 5px;
        }
    /* DivTable.com */
    .divTable {
        display: table;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableCell, .divTableHead {
        display: table-cell;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableFoot {
        display: table-footer-group;
    }

    .divTableBody {
        display: table-row-group;
    }
</style>

<div class="container-fluid">
    <!-- Header -->
    @{
        if (Model != null && Model.Rows.Count > 0)
        {
            <div class="row mt-05">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="">Factory</label>
                        <label class="form-control">@Model.Rows[0]["FACTORY"].ToString()</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="">Line No</label>
                        <label class="form-control">@Model.Rows[0]["LINENO"].ToString()</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="">AO No</label>
                        <label class="form-control">@Model.Rows[0]["AONO"].ToString()</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="">Production Package</label>
                        <label class="form-control">@Model.Rows[0]["PRDPKG"].ToString()</label>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label class="">Package Qty</label>
                        <label class="form-control text-right">@Model.Rows[0]["PlanQty"].ToString()</label>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-group text-right">
                        <label class="">Total Required Piece</label>
                        <label class="form-control">@Convert.ToInt32(Model.Rows[0]["PPTotalPiece"]).ToString("N0") </label>
                    </div>
                </div>
            </div>

            <div class="row mt-05">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="">Style Code</label>
                        <label class="form-control">@Model.Rows[0]["STYLECODE"].ToString()</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="">Buyer Style Name</label>
                        <label class="form-control">@Model.Rows[0]["BUYERSTYLENAME"].ToString()</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="">Style Color#</label>
                        <label class="form-control">@Model.Rows[0]["STYLECOLORSERIAL"].ToString() - @Model.Rows[0]["STYLECOLORWAYS"].ToString() </label>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label class="">Style Size</label>
                        <label class="form-control">@Model.Rows[0]["STYLESIZE"].ToString() </label>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label class="">Rev No</label>
                        <label class="form-control">@Model.Rows[0]["REVNO"].ToString() </label>
                    </div>
                </div>
            </div>
        }
    }

    <!--  DETAIL  GRID -->
    <div class="mt-05">
        <div class="divTable blueTable">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead">Module Name</div>
                    <div class="divTableHead">Item Code</div>
                    <div class="divTableHead">Item Name</div>
                    <div class="divTableHead text-right">Item Color#</div>
                    <div class="divTableHead">Item Color Ways</div>
                    <div class="divTableHead">Piece ID</div>
                    <div class="divTableHead">Piece</div>
                    <div class="divTableHead text-right">Required Piece</div>
                    <div class="divTableHead text-right">Complete Piece</div>
                </div>
            </div>
            <div class="divTableBody">
                @{
                    if (Model != null && Model.Rows.Count > 0)
                    {
                        foreach (System.Data.DataRow dataRow in Model.Rows)
                        {
                            <div class="divTableRow StatusGreen">
                                <div class="divTableCell"> @dataRow["MODULENAME"].ToString() </div>

                                <div class="divTableCell"> @dataRow["ITEMCODE"].ToString() </div>
                                <div class="divTableCell"> @dataRow["ITEMNAME"].ToString() </div>
                                <div class="divTableCell text-right"> @dataRow["ITEMCOLORSERIAL"].ToString() </div>
                                <div class="divTableCell"> @dataRow["ITEMCOLORWAYS"].ToString() </div>
                                <div class="divTableCell"> @dataRow["PIECEUNIQUE"].ToString() </div>
                                <div class="divTableCell"> @dataRow["PIECE"].ToString() </div>

                                <div class="divTableCell text-right"> @Convert.ToInt32(dataRow["TOTALPIECEQTY"]).ToString("N0")</div>
                                <div class="divTableCell text-right"> @Convert.ToInt32(dataRow["ALLOCATEDQTYSHOW"]).ToString("N0")</div>
                            </div>
                            RequestQty = RequestQty + Convert.ToDecimal(dataRow["TOTALPIECEQTY"].ToString());
                            Received = Received + Convert.ToDecimal(dataRow["ALLOCATEDQTY"].ToString());
                        }
                    }
                }
                <div class="divTableRow SummaryFooter">
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell text-right">Total</div>
                    <div class="divTableCell text-right">@RequestQty.ToString("N0")</div>
                    <div class="divTableCell text-right">@Received.ToString("N0")</div>
                </div>

                <div class="divTableRow SummaryFooter">
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell text-right">Cutting Readiness</div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell text-right">
                        @{
                            if (Model != null && Model.Rows.Count > 0)
                            {
                                if (RequestQty > 0)
                                {
                                    @Math.Round(Received / RequestQty * 100, 2).ToString();
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
