@model OPS_DAL.Entities.Usmt
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>OPS Login</title>
        <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/ops/pages/login.css" rel="stylesheet" />

        <style>
            html, body {
                margin: 0;
                padding: 0;
                min-height: 100%;
            }

            .gradient {
                background: rgb(201,222,150); /* Old browsers */
                background: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
            }
            .login-background {
                background-image: linear-gradient(60deg, #0c828a94 0%, #6cc7ef 37%, #3ba2d6 65%, #93daff 100%);
            }

            .login-title {
                color: white;
                font-weight: bold;
            }

            .btn-sign-in{
                color: #fff;
                background-color:#24a9bb;
                border-color:#357ebd;
            }
        </style>*@
    <!-- 2020 new layout-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Convex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Convex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>PungKook OPS</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/pixinvent/img/ico/apple-icon-60.html">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/pixinvent/img/ico/apple-icon-76.html">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/pixinvent/img/ico/apple-icon-120.html">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/pixinvent/img/ico/apple-icon-152.html">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/assets/pixinvent/img/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/pixinvent/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/pixinvent/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/pixinvent/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/pixinvent/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/pixinvent/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/pixinvent/vendors/css/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/pixinvent/css/app.css">
    <link rel="stylesheet" type="text/css" href="~/assets/pixinvent/css/pungkook.css?v=1.0.0">
    <!--end new layout-->
</head>

<body data-col="1-column" class="1-column  blank-page blank-page login-background">

    <div class="wrapper">
        <!--Login Page Starts-->
        <section id="login" class="gradient-aqua-marine-pungkook">
            <div class="container-fluid">
                <div class="row full-height-vh">
                    <div class="col-12 d-flex align-items-center justify-content-center bg-login-pungkook">
                        <div class="card-login px-4 py-2 box-shadow-2 width-350">
                            <div class="account-wall">
                                <div class="card-header text-center">
                                    <img src="~/assets/pixinvent/img/logos/logo-OPS-PK.svg" alt="company-logo" class="mg-bt" width="80">
                                    <h4 class="text-uppercase text-bold-400 grey darken-1">Login</h4>
                                </div>
                                <div class="card-body">
                                    <div class="card-block-login">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-signin" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            if (@ViewBag.Message != null)
                                            {
                                                <div id="popupdiv" style="border: 1px solid red;color:red; display: none;">
                                                    @ViewBag.Message
                                                </div>

                                            }
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-lg text-login", placeholder = "User name", onkeydown = " if (event.keyCode == 13){ LoadRoleList();}" })
                                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <select id="RoleID" name="RoleID" class="form-control form-control-lg text-login">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg text-login", placeholder = "Password" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="card-footer grey darken-1">
                                                @Html.CheckBoxFor(m => m.RememberMe) Remember Me

                                            </div>
                                            <div class="form-group">
                                                <div class="text-center col-md-12">
                                                    <button type="submit" class="btn btn-danger px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0 mr-bottom-login">Sign in</button>
                                                </div>
                                            </div>
                                            <div class="text-center"><a><b><a href="http://203.113.146.146:775/Func/Article/?prjid=1&mnid=21&art=16" class="pull-right need-help">Need help? </a><span class="clearfix"></span></b></a></div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/js/plugins/jquery/jquery.min.js"></script>

    <script type="text/javascript">

       $(document).ready(function () {
            var userid = $('#UserName').val();
            if (userid) {
               LoadRoleList();
            }
            $('#UserName').change(function () {
                LoadRoleList();
            });

            if ($('#popupdiv').html() != '') {
                $("#popupdiv").show();
            }
            if (!$.isEmptyObject(userid)) {
                var RoleID = "@Model.RoleID";
                var RememberMe = '@Model.RememberMe';
                if (!$.isEmptyObject(RoleID)) {
                    $("#RoleID").val(RoleID).change();
                }
                if (RememberMe === "True") {
                    $('#RememberMe').prop('checked', true);
                }
            }
        });

       function LoadRoleList() {
           var userID = $('#UserName').val();
               $.ajaxSetup({ async: false });
               var xhr = $.post('/Account/GetListRole?userID=' + userID)
                   .success(function (data) {
                       var innerHtml = '';
                       data.forEach(function (c) {
                           innerHtml = innerHtml.concat('<option value="' + c.ROLEID + '">' + c.ROLEID + '-' + c.ROLEDESC + '</option>');
                       });
                       $('#RoleID').html(innerHtml);
                   })
                   .error(function (ex) {
                       return ex;
                   })
               return false;
        }
    </script>
    <!-- START - OANH) 21/Dec/2020 - add js library -->
    <!-- 2020 new layout-->
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN VENDOR JS-->
    <!--<script src="~/assets/pixinvent/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script src="~/assets/pixinvent/vendors/js/core/popper.min.js"></script>
    <script src="~/assets/pixinvent/vendors/js/core/bootstrap.min.js"></script>
    <script src="~/assets/pixinvent/vendors/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/pixinvent/vendors/js/prism.min.js"></script>
    <script src="~/assets/pixinvent/vendors/js/jquery.matchHeight-min.js"></script>
    <script src="~/assets/pixinvent/vendors/js/screenfull.min.js"></script>
    <script src="~/assets/pixinvent/vendors/js/pace/pace.min.js"></script>-->
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN CONVEX JS-->
    <!--<script src="~/assets/pixinvent/js/app-sidebar.js"></script>
    <script src="~/assets/pixinvent/js/notification-sidebar.js"></script>-->
    <!-- END CONVEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
    <!--end new layout-->
    <!-- END - OANH) 21/Dec/2020 - add js library -->
</body>

</html>
